/*Selector specificity (0,0,1)*/
body {
    font-size: 22px;
    font-family:Tahoma, serif;
    line-height: 1.8;
    color: rgb(223, 214, 181);
    background-color:rgb(7, 15, 36);
    height: 100%;
}
/*Selector specificity (0,1,1)*/
h1.principal{
    color: rgb(223, 214, 181);
    background-color: rgb(7, 15, 36);
    margin: 0;
    text-align: center;
    padding: 5px 25px;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
h2 {
    background-color:  rgb(1, 32, 32); 
    color:rgb(223, 214, 181);
    text-transform: uppercase;
    padding: 30px 25px;
    text-align: center;    
    margin: 0%; 
}
/*Selector specificity (0,0,1)*/
h3{
    color: rgb(223, 214, 181);
    background-color:  rgb(3, 58, 58);
    margin: 0;
    text-align: left;
    padding: 5px 25px;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
h4{
    color: rgb(223, 214, 181);
    background-color: rgb(7, 15, 36);
    margin: 0;
    text-align: left;
    padding: 5px 25px;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
ol{
    list-style:none ;
    width:50%;
}
/*Selector specificity (0,0,3)*/
ol li::before {
    content: "\2022\ ";
    color: darkslategrey;
    background-color: rgb(7, 15, 36);
}

/*Selector specificity (0,1,1)*/
.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;   
    width: 100%;
}
/*Selector specificity (0,1,1)*/
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(223, 214, 181);
    text-align: center;
    text-decoration: none;
    color: #191C26;
    text-transform: uppercase;
}
/*Selector specificity (0,2,1)*/
.menu a:hover {
    color: rgb(119, 0, 0);
    background-color: rgb(223, 214, 181);
    text-align: center;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
a{
    color: rgb(255, 129, 0);
    background-color:  rgb(7, 15, 36);
}
.menu input {
    font-size: 22px;
    display: block;
    padding: 2em;
    background-color: rgb(223, 214, 181);
    text-align: center;
    text-decoration: none;
    color: #191C26;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border-width: 0px;
}
/*Selector specificity (0,2,1)*/
.menu input:hover {
    color: rgb(119, 0, 0);
    background-color: rgb(223, 214, 181);
    text-align: center;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
input{
    font-size: 22px;
    color: #191C26;
    background-color: rgb(223, 214, 181);
    
}
/*Selector specificity (0,0,1)*/
nav{
    align-self: center;
    width: 100%;
}
/*Selector specificity (0,1,1)*/
.menu li{
    width: 25%;
}
/*Selector specificity (0,0,1)*/
img{
    position:relative;
    float: left;
    width:40%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/*Selector specificity (0,0,1)*/
table{
    font-size: 22px;
    width:100%;
    text-align: center;
    border:2px solid rgb(255, 129, 0);
    position: relative;
    float:left;
  }
/*Selector specificity (0,0,1)*/
td{
    font-size: 28px;
    border:2px solid rgb(255, 129, 0);
}
/*Selector specificity (0,0,1)*/
thead{
    border:2px solid #CC673B;
    color: rgb(255, 129, 0);
    background-color: rgb(7, 15, 36);
    text-transform: uppercase;
    font-weight: bolder;
}
/*Selector specificity (1,0,0)*/
#credits{
    line-height: 1.8;
    color: rgb(255, 129, 0);
    background-color: transparent;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    right:10px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

div{
    margin-bottom: 40px;
}

p{
    position: relative;
}