body {
    background-color: black;
    color: red;
}

h1 {
    text-align: center;
    color: greenyellow;
}

h2 {
    text-align: center;
    color: yellow;
}

h3 {
    text-align: center;
    color: orange;
}

h4 {
    text-align: center;
    color: lightcoral;
}

p {
    color: red;
}
