/*Selector specificity (0,0,1)*/
body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.8;
    color: rgb(223, 214, 181);
    background-color:rgb(7, 15, 36);
    height: 100%;
}
/*Selector specificity (0,1,1)*/
h1.principal{
    color: rgb(223, 214, 181);
    background-color: rgb(7, 15, 36);
    margin: 0;
    text-align: center;
    padding: 5px 25px;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
h2 {
    background-color:  rgb(1, 32, 32); 
    color:rgb(223, 214, 181);
    text-transform: uppercase;
    padding: 30px 25px;
    text-align: center;    
    margin: 0%; 
}
/*Selector specificity (0,0,1)*/
ol{
    list-style:none ;
}
/*Selector specificity (0,0,3)*/
ol li::before {content: "\2022\ ";color: darkslategrey}

/*Selector specificity (0,1,1)*/
.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;   
    width: 100%;
}
/*Selector specificity (0,1,1)*/
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(223, 214, 181);
    text-align: center;
    text-decoration: none;
    color: #191C26;
    text-transform: uppercase;
}
/*Selector specificity (0,2,1)*/
.menu a:hover {
    color: #CC673B;
    text-align: center;
    text-transform: uppercase;
}
/*Selector specificity (0,0,1)*/
nav{
    align-self: center;
    width: 100%;
}
/*Selector specificity (0,1,1)*/
.menu li{
    width: 34%;
}
/*Selector specificity (0,0,1)*/
div{
    position:relative
}
/*Selector specificity (1,0,0)*/
#imagenIndex{
    position:relative;
    float: right;
    width:40%;
    margin-top: 10px;
    margin-left: 10px;
}
/*Selector specificity (1,0,0)*/
#credits{
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.8;
    color: #CC673B;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    right:10px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
  }