body {
  font: 400 15px Tahoma; /*Familia sans-serif*/
  line-height: 1.8;
  color: rgb(223, 214, 181);
  background-color:rgb(7, 15, 36);
}
h1.principal{
  color: rgb(223, 214, 181);
  background-color: rgb(7, 15, 36);
  margin: 0;
  text-align: center;
  padding: 5px 25px;
  text-transform: uppercase;
}
h1 {
  background-color:  rgb(1, 32, 32); 
  color:rgb(223, 214, 181);
  text-transform: uppercase;
  padding: 30px 25px;
  text-align: center;    
  margin: 0%; 
}
table{
  width:50%;
  text-align: center;
  border:2px solid #CC673B;
  position: relative;
  float:left;
}
td{
  border:2px solid #CC673B;
}
th{
  border:2px solid #CC673B;
  color: #CC673B;
  text-transform: uppercase;
  font-weight: bolder;
}
.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;   
  width: 100%;
}
.menu a {
  display: block;
  padding: 2em;
  background-color: rgb(223, 214, 181);
  text-align: center;
  text-decoration: none;
  color: #191C26;
  text-transform: uppercase;
}
.menu a:hover {
  color: #CC673B;
  text-align: center;
  text-transform: uppercase;
}
nav{
  align-self: center;
  width: 100%;
}
.menu li{
  width: 34%;
}
div{
  position:relative
}
#imagenMerch{
  position: relative;
  float:right;
  width:50%;
}
