table {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: gold;
    width: 400px;
    height: 780px;
    border-radius: 25px;
}

table td input {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 20px;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 350px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}
